:root {
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 10px;
  font-family: "Forum";
  font-weight: 400;
}

.message {
  color: hsl(0, 0%, 20%);
  font-size: 22px;

  .message__user {
    font-weight: bold;
    color: hsl(0, 0%, 0%);
  }
}
input {
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  outline: none;
  border-color: #ccc;

  // &:focus {
  //   border-color: #007bff;
  //   box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  // }

  &::placeholder {
    color: #6c757d;
  }

  &:disabled {
    background-color: #e9ecef;
    cursor: not-allowed;
  }
}

.btn_submit {
  padding: 10px 8px;
  border-radius: 10%;
  border: 1px solid #ccc;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  text-align: center;
  padding-bottom: 10px;
}
